<div class='bg-white py-24 sm:py-32'>
  <div class='mx-auto max-w-7xl px-6 lg:px-8'>
    <div class='mx-auto max-w-2xl lg:mx-0'>
      <h2 class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'>
        Últimos artículos del blog
      </h2>
      <p class='mt-2 text-lg leading-8 text-gray-600'>
        Mejora en tu carrera profesional como developer y sube de nivel
      </p>
    </div>
    <div
      class='mt-16 pt-16 border-t border-gray-200 grid grid-cols-1 gap-x-8 gap-y-12 sm:gap-y-16 lg:grid-cols-2'
    >
      <article class='mx-auto w-full max-w-2xl lg:mx-0 lg:max-w-lg'>
        <div class='flex items-center gap-x-4 text-xs'>
          <time datetime='2020-03-16' class='text-gray-500'>Mar 16, 2020</time>
          <a
            href='#'
            class='relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100'
            >Marketing</a
          >
        </div>
        <h2
          id='featured-post'
          class='mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'
        >
          We’re incredibly proud to announce we have secured $75m in Series B
        </h2>
        <p class='mt-4 text-lg leading-8 text-gray-600'>
          Libero neque aenean tincidunt nec consequat tempor. Viverra odio id
          velit adipiscing id. Nisi vestibulum orci eget bibendum dictum. Velit
          viverra posuere vulputate volutpat nunc. Nunc netus sit faucibus.
        </p>
        <div
          class='mt-4 flex flex-col justify-between gap-6 sm:mt-8 sm:flex-row-reverse sm:gap-8 lg:mt-4 lg:flex-col'
        >
          <div class='flex'>
            <a
              href='#'
              class='text-sm font-semibold leading-6 text-violet-600'
              aria-describedby='featured-post'
            >
              Continue reading <span aria-hidden='true'>&rarr;</span></a
            >
          </div>
          <div class='flex lg:border-t lg:border-gray-900/10 lg:pt-8'>
            <a
              href='#'
              class='flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900'
            >
              <img
                src='https://images.unsplash.com/photo-1519244703995-f4e0f30006d5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                alt=''
                class='h-6 w-6 flex-none rounded-full bg-gray-50'
              />
              Michael Foster
            </a>
          </div>
        </div>
      </article>
      <div
        class='mx-auto w-full max-w-2xl border-t border-gray-900/10 pt-12 sm:pt-16 lg:mx-0 lg:max-w-none lg:border-t-0 lg:pt-0'
      >
        <div class='-my-12 divide-y divide-gray-900/10'>
          <article class='py-12'>
            <div class='group relative max-w-xl'>
              <div class='flex items-center gap-x-4 text-xs'>
                <time datetime='2020-03-16' class='text-gray-500'
                  >Mar 16, 2020</time
                >
                <a
                  href='#'
                  class='relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100'
                  >Marketing</a
                >
              </div>
              <h2
                class='mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600'
              >
                <a href='#'>
                  <span class='absolute inset-0'></span>
                  Boost your conversion rate
                </a>
              </h2>
              <p class='mt-4 text-sm leading-6 text-gray-600'>
                Illo sint voluptas. Error voluptates culpa eligendi. Hic vel
                totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed
                exercitationem placeat consectetur nulla deserunt vel iusto
                corrupti dicta laboris incididunt.
              </p>
            </div>
            <div class='mt-4 flex'>
              <a
                href='#'
                class='relative flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900'
              >
                <img
                  src='https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                  alt=''
                  class='h-6 w-6 flex-none rounded-full bg-gray-50'
                />
                Lindsay Walton
              </a>
            </div>
          </article>

          <article class='py-12'>
            <div class='group relative max-w-xl'>
              <div class='flex items-center gap-x-4 text-xs'>
                <time datetime='2020-03-16' class='text-gray-500'>
                  Mar 16, 2020
                </time>
                <a
                  href='#'
                  class='relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100'
                  >Marketing</a
                >
              </div>

              <h2
                class='mt-2 text-lg font-semibold text-gray-900 group-hover:text-gray-600'
              >
                <a href='#'>
                  <span class='absolute inset-0'></span>
                  Boost your conversion rate
                </a>
              </h2>
              <p class='mt-4 text-sm leading-6 text-gray-600'>
                Illo sint voluptas. Error voluptates culpa eligendi. Hic vel
                totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed
                exercitationem placeat consectetur nulla deserunt vel iusto
                corrupti dicta laboris incididunt.
              </p>
            </div>
            <div class='mt-4 flex'>
              <a
                href='#'
                class='relative flex gap-x-2.5 text-sm font-semibold leading-6 text-gray-900'
              >
                <img
                  src='https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80'
                  alt=''
                  class='h-6 w-6 flex-none rounded-full bg-gray-50'
                />
                Lindsay Walton
              </a>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
