---
import { Image } from "astro:assets";
import baumannzoneImg from "./baumannzone.webp";
---

<section
  class="d-block bg-gray-100 dark:bg-gray-800 pb-16"
  itemscope
  itemtype="https://schema.org/Person"
>
  <div class="bg-gradient-to-r from-violet-800 to-violet-700 h-44"></div>
  <div class="px-2 sm:px-4 lg:px-8">
    <div
      id="profile-box"
      class="bmn-container relative bg-white dark:bg-gray-700 dark:text-gray-100 mx-auto -mt-16 rounded-md pb-8"
    >
      <div
        id="party-container"
        class="absolute bottom-0 left-0 max-w-full overflow-clip"
      >
        <canvas id="party"></canvas>
      </div>
      <div class="relative flex justify-center">
        <button id="profile-img">
          <Image
            src={baumannzoneImg}
            alt="Jorge Baumann @Baumannzone profile photo"
            class="-mt-20 rounded-full ring-8 ring-violet-700 ring-opacity-100"
            width="140"
            height="135"
            itemprop="image"
          />
        </button>
      </div>
      <header class="text-center p-4">
        <h1 class="font-bold text-3xl" title="@baumannzone" itemprop="name">
          Jorge Baumann
        </h1>
        <p class="text-gray-500 dark:text-gray-400 font-light">
          <span itemprop="jobTitle">Senior Full Stack Developer</span>
          <span class="select-none">·</span>
          <span itemprop="alternateName">@baumannzone</span>
        </p>
        <p
          class="font-light text-xl mt-4 mx-8 md:mx-16 text-balance"
          itemprop="description"
        >
          Ingeniero de software y creador de contenido. Speaker. Apasionado del
          desarrollo web y del fitness.
        </p>
      </header>
      <div class="relative mx-auto w-fit">
        <div class="inline-flex justify-center px-4 pt-4">
          <a
            href="https://instagram.com/baumannzone"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-400 mx-2"
            itemprop="sameAs"
            ><span class="sr-only">instagram</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              aria-labelledby="instagram"
              role="presentation"
              ><title id="instagram" lang="en">instagram icon</title>
              <g fill="currentColor"
                ><path
                  d="M12 0C8.74 0 8.333.015 7.053.072 5.775.132 4.905.333 4.14.63c-.789.306-1.459.717-2.126 1.384S.935 3.35.63 4.14C.333 4.905.131 5.775.072 7.053.012 8.333 0 8.74 0 12s.015 3.667.072 4.947c.06 1.277.261 2.148.558 2.913.306.788.717 1.459 1.384 2.126.667.666 1.336 1.079 2.126 1.384.766.296 1.636.499 2.913.558C8.333 23.988 8.74 24 12 24s3.667-.015 4.947-.072c1.277-.06 2.148-.262 2.913-.558.788-.306 1.459-.718 2.126-1.384.666-.667 1.079-1.335 1.384-2.126.296-.765.499-1.636.558-2.913.06-1.28.072-1.687.072-4.947s-.015-3.667-.072-4.947c-.06-1.277-.262-2.149-.558-2.913-.306-.789-.718-1.459-1.384-2.126C21.319 1.347 20.651.935 19.86.63c-.765-.297-1.636-.499-2.913-.558C15.667.012 15.26 0 12 0zm0 2.16c3.203 0 3.585.016 4.85.071 1.17.055 1.805.249 2.227.415.562.217.96.477 1.382.896.419.42.679.819.896 1.381.164.422.36 1.057.413 2.227.057 1.266.07 1.646.07 4.85s-.015 3.585-.074 4.85c-.061 1.17-.256 1.805-.421 2.227-.224.562-.479.96-.899 1.382-.419.419-.824.679-1.38.896-.42.164-1.065.36-2.235.413-1.274.057-1.649.07-4.859.07-3.211 0-3.586-.015-4.859-.074-1.171-.061-1.816-.256-2.236-.421-.569-.224-.96-.479-1.379-.899-.421-.419-.69-.824-.9-1.38-.165-.42-.359-1.065-.42-2.235-.045-1.26-.061-1.649-.061-4.844 0-3.196.016-3.586.061-4.861.061-1.17.255-1.814.42-2.234.21-.57.479-.96.9-1.381.419-.419.81-.689 1.379-.898.42-.166 1.051-.361 2.221-.421 1.275-.045 1.65-.06 4.859-.06l.045.03zm0 3.678c-3.405 0-6.162 2.76-6.162 6.162 0 3.405 2.76 6.162 6.162 6.162 3.405 0 6.162-2.76 6.162-6.162 0-3.405-2.76-6.162-6.162-6.162zM12 16c-2.21 0-4-1.79-4-4s1.79-4 4-4 4 1.79 4 4-1.79 4-4 4zm7.846-10.405c0 .795-.646 1.44-1.44 1.44-.795 0-1.44-.646-1.44-1.44 0-.794.646-1.439 1.44-1.439.793-.001 1.44.645 1.44 1.439z"
                ></path></g
              ></svg
            ></a
          >

          <a
            class="text-black dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-400 mx-2"
            target="_blank"
            rel="noreferrer noopener"
            href="https://threads.net/baumannzone"
            itemprop="sameAs"
          >
            <svg
              role="img"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="inline-block size-6"
              fill="currentColor"
            >
              <title>Threads</title>
              <path
                d="M12.186 24h-.007c-3.581-.024-6.334-1.205-8.184-3.509C2.35 18.44 1.5 15.586 1.472 12.01v-.017c.03-3.579.879-6.43 2.525-8.482C5.845 1.205 8.6.024 12.18 0h.014c2.746.02 5.043.725 6.826 2.098 1.677 1.29 2.858 3.13 3.509 5.467l-2.04.569c-1.104-3.96-3.898-5.984-8.304-6.015-2.91.022-5.11.936-6.54 2.717C4.307 6.504 3.616 8.914 3.589 12c.027 3.086.718 5.496 2.057 7.164 1.43 1.783 3.631 2.698 6.54 2.717 2.623-.02 4.358-.631 5.8-2.045 1.647-1.613 1.618-3.593 1.09-4.798-.31-.71-.873-1.3-1.634-1.75-.192 1.352-.622 2.446-1.284 3.272-.886 1.102-2.14 1.704-3.73 1.79-1.202.065-2.361-.218-3.259-.801-1.063-.689-1.685-1.74-1.752-2.964-.065-1.19.408-2.285 1.33-3.082.88-.76 2.119-1.207 3.583-1.291a13.853 13.853 0 0 1 3.02.142c-.126-.742-.375-1.332-.75-1.757-.513-.586-1.308-.883-2.359-.89h-.029c-.844 0-1.992.232-2.721 1.32L7.734 7.847c.98-1.454 2.568-2.256 4.478-2.256h.044c3.194.02 5.097 1.975 5.287 5.388.108.046.216.094.321.142 1.49.7 2.58 1.761 3.154 3.07.797 1.82.871 4.79-1.548 7.158-1.85 1.81-4.094 2.628-7.277 2.65Zm1.003-11.69c-.242 0-.487.007-.739.021-1.836.103-2.98.946-2.916 2.143.067 1.256 1.452 1.839 2.784 1.767 1.224-.065 2.818-.543 3.086-3.71a10.5 10.5 0 0 0-2.215-.221z"
              >
              </path>
            </svg>
          </a>

          <a
            href="https://bsky.app/profile/baumannzone.bsky.social"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-400 mx-2"
            itemprop="sameAs"
          >
            <span class="sr-only">bluesky</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              aria-labelledby="bluesky"
              role="presentation"
            >
              <title id="bluesky" lang="en">bluesky icon</title>
              <g fill="currentColor">
                <path
                  d="M12 10.8c-1.087-2.114-4.046-6.053-6.798-7.995C2.566.944 1.561 1.266.902 1.565.139 1.908 0 3.08 0 3.768c0 .69.378 5.65.624 6.479.815 2.736 3.713 3.66 6.383 3.364.136-.02.275-.039.415-.056-.138.022-.276.04-.415.056-3.912.58-7.387 2.005-2.83 7.078 5.013 5.19 6.87-1.113 7.823-4.308.953 3.195 2.05 9.271 7.733 4.308 4.267-4.308 1.172-6.498-2.74-7.078a8.741 8.741 0 0 1-.415-.056c.14.017.279.036.415.056 2.67.297 5.568-.628 6.383-3.364.246-.828.624-5.79.624-6.478 0-.69-.139-1.861-.902-2.206-.659-.298-1.664-.62-4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z"
                ></path>
              </g>
            </svg>
          </a>

          <a
            href="https://twitter.com/baumannzone"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-400 mx-2"
            itemprop="sameAs"
          >
            <span class="sr-only">x</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              aria-labelledby="x"
              role="presentation"
            >
              <title id="twitter" lang="en">X icon</title>
              <g fill="currentColor">
                <path
                  d="M18.901 1.153h3.68l-8.04 9.19L24 22.846h-7.406l-5.8-7.584-6.638 7.584H.474l8.6-9.83L0 1.154h7.594l5.243 6.932ZM17.61 20.644h2.039L6.486 3.24H4.298Z"
                >
                </path>
              </g>
            </svg>
          </a>

          <a
            href="https://youtube.com/RambitoJS"
            target="_blank"
            rel="noopener noreferrer"
            class="text-black dark:text-gray-300 hover:text-gray-500 dark:hover:text-gray-400 mx-2"
            itemprop="sameAs"
            ><span class="sr-only">youtube</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="25"
              height="25"
              viewBox="0 0 24 24"
              aria-labelledby="youtube"
              role="presentation"
              ><title id="youtube" lang="en">youtube icon</title>
              <g fill="currentColor"
                ><path
                  d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"
                ></path></g
              ></svg
            ></a
          >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import {
    Engine,
    Render,
    World,
    Bodies,
    Runner,
    Body,
    Mouse,
    MouseConstraint,
  } from "matter-js";

  import astro from "./logos/astro.png";
  import astroDark from "./logos/astro-dark.png";
  import css from "./logos/css.png";
  import html5 from "./logos/html5.webp";
  import js from "./logos/js.webp";
  import tailwind from "./logos/tailwind.png";

  // Create an engine
  const engine = Engine.create({
    gravity: { x: 0, y: 1, scale: 0.001 },
  });

  // Create a renderer
  const render = Render.create({
    element: document.getElementById("party-container"),
    engine: engine,
    canvas: document.getElementById("party"),
    options: {
      wireframes: false,
      background: "transparent",
      width: 1280,
      height: 297,
    },
  });

  // Add mouse control
  const mouse = Mouse.create(render.canvas);
  // Enable scroll back to normal
  mouse.element.removeEventListener("wheel", mouse.mousewheel);

  const mouseConstraint = MouseConstraint.create(engine, {
    mouse: mouse,
    constraint: {
      stiffness: 0.2,
      render: {
        visible: false,
      },
    },
  });

  World.add(engine.world, mouseConstraint);

  const ground = Bodies.rectangle(640, 302, 1280, 10, {
    isStatic: true,
    render: { fillStyle: "transparent" },
    friction: 0.3,
    restitution: 0.2,
  });

  // Add all of the bodies to the world
  // World.add(engine.world, [boxA, boxB, ground]);
  World.add(engine.world, [ground]);

  // Run the engine
  const runner = Runner.create();
  Runner.run(runner, engine);

  // Run the renderer
  Render.run(render);

  function createImageBody(x, y) {
    const isDarkMode = window.matchMedia(
      "(prefers-color-scheme: dark)",
    ).matches;

    // If dark mode, use the white logo
    const texture = isDarkMode ? [astro] : [astroDark];
    // Add the rest of the logos
    texture.push(css, html5, js, tailwind);

    const randomTexture = texture[Math.floor(Math.random() * texture.length)];

    return Bodies.rectangle(x, y, 40, 40, {
      restitution: 0.2, // Moderate bounce
      render: {
        sprite: {
          texture: `./${randomTexture.src}`,
          xScale: 1,
          yScale: 1,
        },
      },
    });
  }

  // Add click event listener to the profile image
  const profileImg = document.getElementById(
    "profile-img",
  ) as HTMLButtonElement;

  profileImg.addEventListener("click", () => {
    // Add box to the world
    const x = Math.random() * 1200 + 50; // Random x position
    const y = 50; // Fixed y position at the top

    const newImageBody = createImageBody(x, y);
    World.add(engine.world, newImageBody);

    // Add a force to the box
    Body.applyForce(newImageBody, { x: 0, y: 0 }, { x: 0.01, y: 0 });
  });
</script>
