---
import { getCollection } from "astro:content";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const posts = (await getCollection("blog"))
  .filter((post) => post.data.published !== false)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout>
  <section class="bmn-container mx-auto mt-16 mb-32">
    <header class="text-center">
      <p class="text-base font-semibold leading-7 text-violet-600">/blog</p>
      <h1 class="text-4xl font-bold mb-8">Blog</h1>
    </header>

    <ul
      class="mt-6 mb-12 pt-10 grid gap-16 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12"
    >
      {
        posts.map((post) => (
          <li>
            <ArticleCard isBlog post={post} />
          </li>
        ))
      }
    </ul>
  </section>
</DefaultLayout>
