---
import DemoLayout from "../demo-layout.astro";
---

<DemoLayout>
  <details>
    <summary>HTML</summary>
    <p>Es el lenguaje de marcado base para cualquier p치gina web.</p>
  </details>
  <details>
    <summary>CSS</summary>
    <p>
      Sirve para estilizar elementos, desde colores hasta layouts complejos.
    </p>
  </details>
  <details>
    <summary>JavaScript</summary>
    <p>Permite a침adir interactividad, l칩gica y manipulaci칩n del DOM.</p>
  </details>
</DemoLayout>
