---
import DemoLayout from "../demo-layout.astro";
---

<DemoLayout>
  <details name="faq">
    <summary class="font-semibold cursor-pointer">
      ¿Cómo reinicio mi contraseña?
    </summary>
    <p>Haz clic en “olvidé mi contraseña” como todos el mundo.</p>
  </details>

  <details name="faq">
    <summary class="font-semibold cursor-pointer">
      ¿Puedo usar mi cuenta en varios dispositivos?
    </summary>
    <p>
      Sí, aunque tu gato probablemente también lo está usando sin que sepas.
    </p>
  </details>

  <details name="faq">
    <summary class="font-semibold cursor-pointer">
      ¿Qué pasa si borro mi cuenta?
    </summary>
    <p>Pasas al siguiente plano existencial digital. No hay vuelta atrás.</p>
  </details>
</DemoLayout>
