/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dual theme support for code blocks using Shiki */
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  .bmn-container {
    @apply max-w-7xl;
    @apply px-4;
    @apply sm:px-6;
    @apply lg:px-8;
  }

  .active-link {
    @apply border-violet-500 text-gray-900 !important;
  }

  .active-link-mobile {
    @apply border-violet-500 bg-violet-50 text-violet-700 !important;
  }
}

/* Screen Saver */
#screen-saver {
  background-image: linear-gradient(
    45deg,
    hsl(300deg 100% 57%) 0%,
    hsl(298deg 100% 56%) 50%,
    hsl(254deg 100% 50%) 100%
  );
  background-size: 300% 200%;
  animation: moveGradient 6s linear infinite alternate;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


/* Underlined - Effect */
.underlined {
	position: relative;
	text-decoration: none !important;
	white-space: nowrap;
}

.underlined:focus {
	outline: none;
	text-decoration: none !important;
}

.underlined:after {
	content: '';
	height: 2px;
	transform: scaleX(0);
	transition: transform 0.25s ease;
	transform-origin: left;
	left: 0;
	bottom: -4px;
	width: 100%;
	display: block;
	position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
	background-color: currentColor;
	transform: scaleX(1);
}