/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dual theme support for code blocks using Shiki */
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  .bmn-container {
    @apply max-w-7xl;
    @apply px-4;
    @apply sm:px-6;
    @apply lg:px-8;
  }

  .active-link {
    @apply border-violet-500 text-gray-900 dark:text-white !important;
  }

  .active-link-mobile {
    @apply border-violet-500 bg-violet-50 text-violet-700 dark:text-white dark:bg-gray-900 !important;
  }

  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

/* Screen Saver */
#screen-saver {
  background-color: rgba(100, 20, 200, 0.4);
  backdrop-filter: blur(10px);
  /* animation: psychedelic 5s linear infinite; */
}

@keyframes psychedelic {
  0% {
    background-color: rgba(255, 0, 255, 0.4); /* Magenta */
  }
  20% {
    background-color: rgba(0, 255, 255, 0.4); /* Cyan */
  }
  40% {
    background-color: rgba(255, 255, 0, 0.4); /* Yellow */
  }
  60% {
    background-color: rgba(255, 0, 0, 0.4); /* Red */
  }
  80% {
    background-color: rgba(0, 255, 0, 0.4); /* Green */
  }
  100% {
    background-color: rgba(255, 0, 255, 0.4); /* Magenta */
  }
}

/* Underlined - Effect */
.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: "";
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-color: currentColor;
  transform: scaleX(1);
}

/* Typewriter cursor animation - Used for the blinking cursor effect in the 404 page */
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

/* -- */
@view-transition {
  navigation: auto;
}
