/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dual theme support for code blocks using Shiki */
@media (prefers-color-scheme: dark) {
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    /* Optional, if you also want font styles */
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  .bmn-container {
    @apply max-w-7xl;
    @apply px-4;
    @apply sm:px-6;
    @apply lg:px-8;
  }

  .active-link {
    @apply border-violet-500 text-gray-900 !important;
  }

  .active-link-mobile {
    @apply border-violet-500 bg-violet-50 text-violet-700 !important;
  }
}

/* Screen Saver */
#screen-saver {
  background-image: linear-gradient(
    45deg,
    hsl(300deg 100% 57%) 0%,
    hsl(298deg 100% 56%) 19%,
    hsl(296deg 100% 54%) 26%,
    hsl(295deg 100% 53%) 31%,
    hsl(293deg 100% 51%) 35%,
    hsl(291deg 100% 50%) 38%,
    hsl(290deg 100% 50%) 41%,
    hsl(288deg 100% 50%) 43%,
    hsl(286deg 100% 50%) 46%,
    hsl(284deg 100% 50%) 48%,
    hsl(282deg 100% 50%) 50%,
    hsl(280deg 100% 50%) 53%,
    hsl(277deg 100% 50%) 56%,
    hsl(275deg 100% 50%) 58%,
    hsl(272deg 100% 50%) 62%,
    hsl(270deg 100% 50%) 66%,
    hsl(267deg 100% 50%) 71%,
    hsl(263deg 100% 50%) 77%,
    hsl(259deg 100% 50%) 86%,
    hsl(254deg 100% 50%) 100%
  );
  background-size: 300% 200%;
  animation: moveGradient 6s linear infinite alternate;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}