---
import { Image } from 'astro:assets';
const { recentPosts } = Astro.props;

import img7 from '../../assets/sobre-mi/team/7.avif';
---

<!-- Blog section -->
<div class='mx-auto my-32 max-w-7xl px-6 sm:mt-40 lg:px-8'>
  <div class='mx-auto max-w-2xl lg:mx-0 lg:max-w-none'>
    <h2 class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'>
      Desde el blog
    </h2>
    <p class='mt-2 text-lg leading-8 text-gray-600'>
      Esto es lo último que hemos escrito en el blog.
    </p>
  </div>
  <div
    class='mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-8 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3'
  >
    {
      recentPosts.map((post) => (
        <article class='relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-700 px-8 pb-8 pt-8 hover:shadow-2xl transition-shadow duration-300'>
          <div class='absolute inset-0 -z-10 h-full w-full object-cover' />
          <div class='absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40' />
          <div class='absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10' />

          <div class='flex flex-wrap items-center gap-y-1 overflow-hidden text-sm leading-6 text-gray-300'>
            <time datetime={post.data.pubDate.toISOString()} class='mr-8'>
              {post.data.pubDate.toLocaleDateString('es-ES', {
                year: 'numeric',
                month: 'short',
                day: '2-digit',
              })}
            </time>
            <div class='-ml-4 flex items-center gap-x-4'>
              <svg
                viewBox='0 0 2 2'
                class='-ml-0.5 h-0.5 w-0.5 flex-none fill-white/50'
              >
                <circle cx='1' cy='1' r='1' />
              </svg>
              <div class='flex gap-x-2.5'>
                <Image
                  src={img7}
                  alt='Jorge Baumann'
                  class='h-6 w-6 flex-none rounded-full bg-white/10'
                />
                Jorge Baumann
              </div>
            </div>
          </div>
          <h3 class='mt-3 text-lg font-semibold leading-6 text-white'>
            <a href={`/blog/${post.slug}`}>
              <span class='absolute inset-0' />
              {post.data.title}
            </a>
          </h3>
        </article>
      ))
    }
  </div>
</div>
