---
import { Image } from "astro:assets";
const { recentPosts } = Astro.props;

import img7 from "../../assets/sobre-mi/team/7.avif";
---

<!-- Blog section -->
<div class="mx-auto my-32 max-w-7xl px-6 sm:mt-40 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-none">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Desde el blog
    </h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">
      Esto es lo último que hemos escrito en el blog.
    </p>
  </div>
  <div
    class="mx-auto mt-16 grid max-w-2xl auto-rows-fr grid-cols-1 gap-6 sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
  >
    {
      recentPosts.map((post) => (
        <a
          href={`/blog/${post.slug}`}
          class="block hover:bg-zinc-200 rounded-xl transition group focus:outline-none focus:ring-2 focus:ring-violet-500 focus:ring-offset-2"
        >
          <div class="rounded-xl border-2 border-zinc-200 h-full">
            <div class="flex flex-col space-y-1.5 p-6">
              <div class="text-sm text-zinc-500">
                {post.data.pubDate.toLocaleDateString("es-ES", {
                  year: "numeric",
                  month: "short",
                  day: "2-digit",
                })}
              </div>
              <div class="text-2xl font-semibold tabular-nums text-zinc-950">
                {post.data.title}
              </div>
            </div>
          </div>
        </a>
      ))
    }
  </div>
</div>
