<!-- Values section -->
<div class='mx-auto mt-32 max-w-7xl px-6 sm:mt-40 lg:px-8'>
  <div class='mx-auto max-w-2xl lg:mx-0'>
    <h2 class='text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'>
      Mi enfoque
    </h2>
    <p class='mt-6 text-lg leading-8 text-gray-600'>
      No te voy a decir como tienes que vivir tu vida, pero si te puedo contar
      como vivo yo la mía.
    </p>
  </div>
  <dl
    class='mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 text-base leading-7 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3'
  >
    <div>
      <dt class='font-semibold text-gray-900'>Share everything you know</dt>
      <dd class='mt-1 text-gray-600'>
        Creo firmemente en la importancia de compartir conocimiento. A través de
        mis publicaciones en redes, artículos y livestreams, busco difundir todo
        lo que aprendo para ayudar a otros developers a crecer.
      </dd>
    </div>

    <div>
      <dt class='font-semibold text-gray-900'>Always learning</dt>
      <dd class='mt-1 text-gray-600'>
        El aprendizaje continuo es una parte fundamental de mi vida. Siempre
        estoy explorando nuevas tecnologías y métodos para mejorar mis
        habilidades y mantenerme actualizado en un campo que evoluciona
        rápidamente.
      </dd>
    </div>

    <div>
      <dt class='font-semibold text-gray-900'>Embrace a Healthy Lifestyle</dt>
      <dd class='mt-1 text-gray-600'>
        Llevo un estilo de vida saludable y activo, combinando una nutrición
        equilibrada con una rutina de ejercicios diaria. Voy al gim 5 veces por
        semana para mantenerme en forma.
      </dd>
    </div>

    <div>
      <dt class='font-semibold text-gray-900'>Be world-class</dt>
      <dd class='mt-1 text-gray-600'>
        Me esfuerzo constantemente por alcanzar la cima en todo lo que hago,
        aplicando las mejores prácticas y tecnologías de actualidad en el
        desarrollo web.
      </dd>
    </div>

    <div>
      <dt class='font-semibold text-gray-900'>Be supportive</dt>
      <dd class='mt-1 text-gray-600'>
        Apoyo a la comunidad de desarrolladores ofreciendo ayuda y colaborando
        en proyectos. Valoro mucho el trabajo en equipo y el crecimiento
        conjunto.
      </dd>
    </div>

    <div>
      <dt class='font-semibold text-gray-900'>Enjoy downtime</dt>
      <dd class='mt-1 text-gray-600'>
        Me gusta pasar tiempo con la familia y los amigos. Disfruto de los
        juegos de mesa, la música, los videojuegos y la lectura.
      </dd>
    </div>
  </dl>
</div>
