<div title="😵‍💫 404 - Página Perdida en el Multiverso">
  <div
    class="fixed inset-0 w-full h-full overflow-hidden bg-black text-white pt-20"
  >
    <canvas id="matrixCanvas" class="absolute top-0 left-0 w-full h-full z-0"
    ></canvas>

    <div
      class="relative z-10 flex flex-col items-center justify-center min-h-screen text-center px-4 max-w-2xl mx-auto"
    >
      <h1 class="pt-20 text-4xl font-bold">404</h1>
      <p class="text-xl md:text-2xl mt-4 text-balance">
        Parece que has roto internet. O al menos esta pequeña esquina de mi web.
      </p>
      <a
        href="/"
        class="text-black mt-6 bg-white px-6 py-2 border rounded-full transition"
      >
        Ir al inicio
      </a>
      <p class="text-sm mt-6 text-balance">
        La página que buscas ha desaparecido, ha sido movida, o simplemente
        nunca existió. Como tus ganas de leer los Términos y Condiciones.
      </p>
    </div>
  </div>

  <script type="module" src="/src/utils/matrix.js"></script>
</div>
