---
import MatrixLayout from "../layouts/MatrixLayout.astro";
---

<MatrixLayout title="😵‍💫 404 - Página perdida en el multiverso">
  <!-- <div class="fixed inset-0 text-white">
    <canvas
      id="matrixCanvas"
      class="bg-green-950 absolute top-0 left-0 w-full h-full z-0"></canvas>

    <section class="relative z-10 min-h-full selection:text-green-900">
      <div
        class="grid place-items-center text-center text-balance gap-4 md:gap-8"
      >
        
        </div>
      </div>
    </section>

    </div> -->

  <div class="min-h-screen h-full w-screen text-white">
    <canvas
      id="matrixCanvas"
      class="bg-green-950 fixed top-0 left-0 w-full h-full"></canvas>
    <div
      class="relative grid place-items-center h-full p-2 sm:p-10 md:p-20 space-y-10 text-center"
    >
      <h1 class="text-4xl font-bold mt-10 md:mt-20">404</h1>
      <p class="text-xl font-mono bg-green-900/10 text-balance">
        Parece que has roto internet. O al menos esta pequeña esquina de mi web.
      </p>
      <a
        href="/"
        class="text-black bg-white px-6 py-2 border rounded-full transition"
      >
        Volver al inicio
      </a>
      <p class="text-xl font-mono text-balance">
        La página que buscas ha desaparecido, ha sido movida, o simplemente
        nunca existió. Como tus ganas de leer los Términos y Condiciones.
      </p>

      <div class="hidden sm:block mt-8 space-y-4">
        <h2 class="text-3xl font-bold">¿Y ahora qué?</h2>
        <p class="text-lg font-mono text-balance">
          Puedes volver al inicio y fingir que esto nunca pasó.
        </p>
        <p class="text-lg font-mono text-balance">
          O puedes <a
            href="https://instagram.com/baumannzone"
            class="underline hover:text-green-400 transition">contactarme</a
          > si crees que esto es un error, una conspiración o un mensaje del más
          allá.
        </p>
        <p class="text-lg font-mono text-balance">
          También puedes quedarte aquí y contemplar la matrix. No te juzgaré.
        </p>
      </div>
    </div>
  </div>
  <script type="module" src="/src/utils/matrix.js"></script>
</MatrixLayout>
