---
import { getCollection } from "astro:content";
import DefaultLayout from "../layouts/DefaultLayout.astro";

import HeroSection from "../components/AboutMePage/HeroSection.astro";
import ContentSection from "../components/AboutMePage/ContentSection.astro";
import ImageSection from "../components/AboutMePage/ImageSection.astro";
import ValuesSection from "../components/AboutMePage/ValuesSection.astro";
import LogoCloud from "../components/AboutMePage/LogoCloud.astro";
import BlogSection from "../components/AboutMePage/BlogSection.astro";
import TeamSection from "../components/AboutMePage/TeamSection.astro";

// Get the blog posts
const posts = (await getCollection("blog"))
  .filter((post) => post.data.published !== false)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// Get the last 3 posts
const recentPosts = posts.slice(0, 3);
---

<DefaultLayout
  title="Baumannzone.dev - Sobre mí"
  description="Conoce más sobre Jorge Baumann (@baumannzone) y su trabajo como desarrollador web y creador de contenido."
>
  <div class="bg-white">
    <div class="isolate">
      <HeroSection />

      <ContentSection totalPosts={posts.length} />

      <ImageSection />

      <ValuesSection />

      <LogoCloud />

      <!-- <TeamSection /> -->

      <BlogSection recentPosts={recentPosts} />
    </div>
  </div>
</DefaultLayout>
