---
import DefaultLayout from '../layouts/DefaultLayout.astro';

const domains = [
  '.dev',
  '.com',
  '.app',
  '.org',
  '.net',
  '.es',
  '.me',
  '.gg',
  '.best',
  '.ia',
  '.vip',
];
---

<DefaultLayout
  pageTitle='Dominios'
  description='Encuentra el dominio perfecto para tu negocio, blog o proyecto personal desde $0.99.'
>
  <div class='mx-auto max-w-2xl py-24'>
    <h1 class='text-3xl font-bold text-center mb-8'>Encuentra tu dominio</h1>

    <p class='pt-12 text-xl text-gray-700 leading-7'>
      Encuentra el dominio perfecto para tu empresa, blog o proyecto personal.
      Con Namecheap puedes encontrar dominios desde 0.99 $.
    </p>

    <p class='text-gray-700 py-4 leading-7'>
      <!-- .com, .net, .org, .io, .co, .app, -->
      Consigue dominios de primer nivel como
      <!-- , <code class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md' >.ia</code >, <code clcode'bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md' >.com</code >, <code class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md' >.es</code >,  -->
      <!-- por menos de lo que imaginas. -->
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.dev</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.com</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.app</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.org</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.net</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.es</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.me</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.gg</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.best</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.ia</code
      >,
      <code
        class='bg-slate-100 px-1 py-0.5 border border-gray-200 rounded-md text-sm'
        >.vip</code
      > y muchos más por menos de lo que imaginas.
    </p>

    <div id='ir_wrapper' style='margin: 0px auto; max-width: 100%;'>
      <h4
        style="margin: 0.75em 0px 0px; font-size: 1.25em; line-height: 1.5em; font-weight: bold; color: #6d6e70; font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif;"
      >
        <!-- Find a domain starting at $0.99 -->
        Encuentra un dominio desde 0.99 $
      </h4>
      <form
        id='ir_form'
        method='GET'
        target='_blank'
        action='https://namecheap.pxf.io/c/5715450/386170/5618'
      >
        <div
          class='nc-search'
          role='search'
          style="position: relative; display: flex; flex-flow: row wrap; margin: 0px auto; padding: 0.75em 0px 0px; font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif;"
        >
          <input id='ir_link' name='u' type='hidden' /><input
            id='ir_domain'
            name='domain'
            style='flex: 1 1 0%; min-width: 60px; min-height: 42px; padding: 0px 0.5em; border: 1px solid #d6d6d6; font-size: 1.125em; line-height: 20px; margin-right: 0px !important; margin-top: 0px !important; border-radius: 5px 0px 0px 5px !important;'
            autocomplete='off'
            placeholder='mirestaurante.com'
            autocorrect='off'
            spellcheck='false'
            autocapitalize='off'
            type='text'
          /><input
            style='flex: 0 1 0%; min-width: 94px; width: 94px; padding: 0px 1em; font-size: 1.125em; line-height: 20px; text-align: center; border: 1px solid rgb(222, 55, 35); color: rgb(255, 255, 255); text-shadow: rgb(222, 55, 35) 0px -1px 1px; background: linear-gradient(rgb(253, 79, 0) 0%, rgb(222, 55, 35) 100%); cursor: pointer; min-height: 42px !important; margin-left: 0px !important; margin-top: 0px !important; border-radius: 0px 5px 5px 0px !important;'
            value='Buscar'
            type='submit'
          />
        </div>
      </form>
      <div class='powerby'>
        <p
          style="margin: 1em 0px 0px; font-size: 0.75em; line-height: 1.25em; color: #6d6e70; font-family: -apple-system, blinkmacsystemfont, 'segoe ui', roboto, oxygen, ubuntu, cantarell, 'fira sans', 'droid sans', 'helvetica neue', sans-serif; text-align: left;"
        >
          <!-- powered by  -->
          potenciado por
          <a
            id='ir_url'
            href='https://namecheap.pxf.io/c/5715450/386170/5618'
            target='_blank'
            style='font-weight: bold; color: #de3723; text-decoration: none;'
            >Namecheap</a
          >
        </p>
      </div>
    </div>
    <script>
      !(function () {
        var e = document.querySelector('#ir_form'),
          n = document.querySelector('#ir_domain'),
          t = document.querySelector('#ir_link');
        e.addEventListener('submit', function (o) {
          o.preventDefault(),
            (t.value =
              'https://www.namecheap.com/domains/registration/results.aspx?domain=' +
              n.value);
          if (e.domain.value === '') {
            window.location.href = document.querySelector('#ir_url').href;
          } else {
            e.submit();
          }
        });
      })();
    </script>

    <p class='pt-12 text-sm text-gray-700 leading-6'>
      Desde que conozco Namecheap, no he vuelto a comprar dominios en otro
      sitio. Es el servicio que recomiendo y que uso siempre que necesito un
      dominio. Es seguro y fácil de usar. Además, el soporte me ha ayudado en
      más de una ocasión.
    </p>
  </div>
</DefaultLayout>
