---
import DefaultLayout from '../layouts/DefaultLayout.astro';
import { sites } from '../components/top-sitios-web/data';
---

<DefaultLayout>
  <div class='bmn-container mx-auto bg-white px-6 py-32 lg:px-8'>
    <div class='text-base leading-7 text-gray-700'>
      <p class='text-base font-semibold leading-7 text-violet-600'>
        /top-sitios-web
      </p>
      <h1
        class='mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl'
      >
        Sitios web increíbles
      </h1>
      <p class='mt-6 text-xl leading-8'>
        Mi selección personal de sitios web
        <span class='animate-pulse'> awesómicos </span>. Aquí encontrarás una
        lista cuidadosamente curada de páginas que destacan por su <span
          class='animate-pulse'>diseño</span
        >, <span class='animate-pulse'> funcionalidad </span>
        o <span class='animate-pulse'> creatividad. </span>
      </p>

      <section class='bg-violet-50 mt-12 p-4 rounded-lg'>
        <div
          class='divide-y divide-gray-200 overflow-hidden rounded-lg bg-gray-200 shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0'
        >
          {
            sites.map((site) => (
              <div class='group relative rounded-tl-lg rounded-tr-lg bg-white p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 sm:rounded-tr-none'>
                <div>
                  <span class='inline-flex rounded-lg bg-teal-50 p-3 text-teal-700 ring-4 ring-white'>
                    <svg
                      class='h-6 w-6'
                      fill='none'
                      viewBox='0 0 24 24'
                      stroke-width='1.5'
                      stroke='currentColor'
                      aria-hidden='true'
                    >
                      <path
                        stroke-linecap='round'
                        stroke-linejoin='round'
                        d='M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z'
                      />
                    </svg>
                  </span>
                </div>
                <div class='mt-8'>
                  <h3 class='text-base font-semibold leading-6 text-gray-900'>
                    <a href='#' class='focus:outline-none'>
                      <span class='absolute inset-0' aria-hidden='true' />
                      {site.displayName}
                    </a>
                  </h3>
                  <p class='mt-2 text-sm text-gray-500'>{site.description}</p>
                </div>
                <span
                  class='pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400'
                  aria-hidden='true'
                >
                  <svg class='h-6 w-6' fill='currentColor' viewBox='0 0 24 24'>
                    <path d='M20 4h1a1 1 0 00-1-1v1zm-1 12a1 1 0 102 0h-2zM8 3a1 1 0 000 2V3zM3.293 19.293a1 1 0 101.414 1.414l-1.414-1.414zM19 4v12h2V4h-2zm1-1H8v2h12V3zm-.707.293l-16 16 1.414 1.414 16-16-1.414-1.414z' />
                  </svg>
                </span>
              </div>
            ))
          }
        </div>
      </section>
    </div>
  </div>
</DefaultLayout>
