<div
  class="relative demo-container not-prose border-4 border-dashed border-violet-500/50 p-4 rounded-lg hover:border-violet-500/70 transition-colors duration-300"
>
  <span class="text-gray-500 absolute top-2 right-2 text-xs">demo</span>
  <slot />
</div>
