---
import BaseHead from "../components/BaseHead.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="overflow-x-hidden">
  <head>
    <BaseHead title={title} description="404 - Página no encontrada" />
  </head>
  <body>
    <slot />
  </body>
</html>
